.messege{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    }
    .messegeTop{
        display: flex;
    }
    .messegeImg{
        width: 32px;
        height: 32px;
        border-radius: 50%;
        object-fit: cover;
        margin-right: 10px;
    }
    .messegeText{
        padding: 10px;
        border-radius: 20px;
        background-color: #C5E898;
        color: rgb(49, 49, 49);
        max-width: 300px;
    }
    
    .messegeButtom{
        font-size: 12px;
        margin-top: 10px;
    }
    
    .messege.own{
        align-items: flex-end;

    }
    .messege.own .messegeText{
        background-color:#29ADB2 ;
        color: black;
    }
    .messegeTextOwn{
        padding: 10px;
        border-radius: 20px;
        background-color: #29ADB2;
        color: rgb(49, 49, 49);
        max-width: 300px;
        margin-right: 10px;
    }
    .messegeImgOwn{
        width: 32px;
        height: 32px;
        border-radius: 50%;
        object-fit: cover;
    }